[ ca ]
default_ca = intermediate_ca_signing

[ intermediate_ca_signing ]
crl_dir = $ENV::INTERMEDIATE_CRL_DIR
new_certs_dir = $ENV::SIGNED_CERTS_DIR
serial = $ENV::INTERMEDIATE_SERIAL_FILE
private_key = $ENV::INTERMEDIATE_CA_KEY
certificate = $ENV::INTERMEDIATE_CA_CERT
database = $ENV::INTERMEDIATE_DATABASE_FILE

default_md = sha256
default_crl_days = $ENV::CRL_EXPIRY_DAYS
default_days = $ENV::INTERMEDIATE_CERT_EXPIRY_DAYS

policy = intermediate_ca_signing_policy
x509_extensions = intermediate_ca_signing_extensions

copy_extensions = copy

[ intermediate_ca_signing_policy ]
commonName = supplied
countryName = supplied
emailAddress = supplied
organizationName = supplied
stateOrProvinceName = supplied
organizationalUnitName = supplied

[ intermediate_ca_signing_extensions ]
basicConstraints = CA:false
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
authorityKeyIdentifier = keyid:always,issuer
subjectKeyIdentifier = hash
